<h1 align="center">ENTERPRITECA</h1>
<h1>{{.Title}}</h1>

<form action="/save_init_cfg/" method="POST">

    <div>
        <label for="CAName">CA Name:</label>
        <input type="text" id="ca_name" name="ca_name" placeholder="{{.CaName}}" required>
    </div>
   <div>
        <label for="Country">Country:</label>
        <input type="text" id="ca_country" name="ca_country" placeholder="{{.Country}}" required>
    </div>
    <div>
        <label for="ca_state">State:</label>
        <input type="text" id="ca_state" name="ca_state" placeholder="{{.State}}" required>
    </div> 
    <div>
        <label for="ca_location">Location:</label>
        <input type="text" id="ca_location" name="ca_location" placeholder="{{.Local}}" required>
    </div> 
    <div>
        <label for="ca_organization">Organization:</label>
        <input type="text" id="ca_organization" name="ca_organization" placeholder="{{.Organization}}" required>
    </div>
    <div>
        <label for="ca_ou">Organizational Unit:</label>
        <input type="text" id="ca_ou" name="ca_ou" placeholder="{{.OrganizationalUnit}}" required>
    </div>
    <div>
        <label for="ca_root_domain">Root domain:</label>
        <input type="text" id="ca_root_domain" name="ca_root_domain" placeholder="{{.RootDomain}}" required>
    </div>


<div><input type="submit" value="Save"></div>
</form>